/*------------------------------------------------------------------ */
/*------- BACKGROUND TOP IMAGE ------------------------------------- */
/*------------------------------------------------------------------ */
#profilePage + #links { margin-top: -50px; }
#imageBackground {
	margin-top:-3px;
	> .container {
		padding:0px;
		width:1200px;
	}
}
/*------------------------------------------------------------------ */
/*------- PROFILE DESCRIPTION -------------------------------------- */
/*------------------------------------------------------------------ */
#profileDescription {
	img { width:100%; }
	.leftSide {
		bottom:220px;
		//-- first Panel
		.bandName, .votes { padding-bottom:10px; border-bottom:1px dashed #d5d9de }
		.bandName {
			h3 {  display:inline-block; font-family:'Oswald-Regular'; font-size:26px; }
			span { float:right; margin-top:12px; }
		}
		.votes {
			padding-top: 10px;
			span:last-child { float:right; }
		}
		.details {
			padding-top:10px; padding-bottom:10px;
			span:first-child { color:#9ba0aa; }
			span:last-child { font-family: 'OpenSans-Bold'; }
		}
		.bandName span, .votes span:last-child { font-size:12px; }
		.btn { width: 100%; margin-top: 10px; }
		//-- second Panel
		.panelSummary {
			.panel-body { padding:0px 15px; }
			.singleRow { padding:15px 0px; border-bottom: 1px dashed #d5d9de; }
			.singleRow:last-child { border:none; }
			.singleRow {
				span:last-child { 
					display:inline-block;
					float:right;
					> span {
						display:inline-block;
						width:auto;
						background-color: #e4e7ec;
						font-size:11px;
						padding:5px;
						border-radius:3px;
					}
				}
			}
		}
		.responsiveMenu {
			display:none;
			border: 1px solid #ddd;
			margin-bottom: 20px;
			border-radius: 5px;
			padding: 15px;
			font-family: 'OpenSans-Bold';
			cursor:pointer;
			.gradient (#FFF, #f1f1f1);
			.hamburger {
				display: inline-block;
				width: 20px;
				height: 12px;
				float:right;
				.icon-bar {
					display: block;
					width: 22px;
					height: 3px;
					border-radius: 1px;
					background-color: #333;
					&+.icon-bar { margin-top: 3px; }
				}
			}
		}
	}
}
/*------------------------------------------------------------------ */
/*------- LATEST STUFF --------------------------------------------- */
/*------------------------------------------------------------------ */
#latestStuff {
	margin-top: 20px;
	.panel { border-radius: 0px; border-bottom:0px; margin-bottom: 0px; }
	h3 + .panel { border-radius:4px 4px 0px 0px }
	.panel:last-child { border-radius:0px 0px 4px 4px; border-bottom:1px solid #DDD; }
	h3 { padding:15px 0px 15px 0px; }
	h3:after { content:":"; padding-left: 2px; }
	.eventPanel header { display:inline-block; width:72%; }
	.eventPanel .subPanel > span:first-child { .cellwrap(); max-width: 180px; display:inline-block; }
	.eventPanel .subPanel .bold { .cellwrap(); max-width: 135px; display:inline; }
	.newSongPanel {
		padding:20px;
		background-color: #f8f9fa;
		img { float:left; margin-right:15px; }
		h4 { padding:5px 0px; }
		.date {
			float:right;;
			position:relative;
			bottom:7px;
		}
	} // add new song panel
}
/*------------------------------------------------------------------ */
/*------- PRESSRELEASE --------------------------------------------- */
/*------------------------------------------------------------------ */
#pressrelease {
	&:extend(#latestStuff);
	h3 { padding:15px 0px 0px 15px }
	h3:after { &:extend(#latestStuff h3:after); }
	.release {
		border-bottom:1px dashed #d5d9de;
		margin-top:13px;
		&:first-child { margin-top: 0px; }
		div {
			display:inline-block;
			width:70%;
			position:relative;
			bottom:8px;
			padding-left:5px;
			margin-bottom:-5px;
			p { font-size:12px; color: #70757e; line-height:175%; }
			span { font-size: 12px; color: #aeb2ba; font-style:italic; float:right; position:relative; bottom:15px; }
		}
	}
	.btn { width: 100%; margin-top: 13px; }
}
//------
