/*------------------------------------------------------------------ */
/*------- BACKGROUND TOP IMAGE ------------------------------------- */
/*------------------------------------------------------------------ */
#imageBackground {
	margin-top:-3px;
	> .container {
		padding:0px;
		width:1200px;
	}
}
#profileDescription {
	img { width:100%; }
	.leftSide {
		bottom:220px;
		//-- first Panel
		.bandName, .votes { padding-bottom:10px; border-bottom:1px dashed #d5d9de }
		.bandName {
			h3 {  display:inline-block; font-family:'Oswald-Regular'; font-size:26px; }
			span { float:right; margin-top:12px; }
		}
		.votes {
			padding-top: 10px;
			span:last-child { float:right; }
		}
		.details {
			padding-top:10px; padding-bottom:10px;
			span:first-child { color:#9ba0aa; }
			span:last-child { font-family: 'OpenSans-Bold'; }
		}
		.bandName span, .votes span:last-child { font-size:12px; }
		.btn { width: 100%; margin-top: 10px; }
		//-- second Panel
		.panelSummary {
			.panel-body { padding:0px 15px; }
			.singleRow { padding:15px 0px; border-bottom: 1px dashed #d5d9de; }
			.singleRow:last-child { border:none; }
			.singleRow {
				span:last-child { 
					display:inline-block;
					float:right;
					> span {
						display:inline-block;
						width:auto;
						background-color: #e4e7ec;
						font-size:11px;
						padding:5px;
						border-radius:3px;
					}
				}
			}
		}
	}
}
/*------------------------------------------------------------------ */
/*------- LATEST STUFF --------------------------------------------- */
/*------------------------------------------------------------------ */
#latestStuff {
	margin-top: 20px;
	.panel { border-radius: 0px; border-bottom:0px; margin-bottom: 0px; }
	h3 + .panel { border-radius:4px 4px 0px 0px }
	.panel:last-child { border-radius:0px 0px 4px 4px; border-bottom:1px solid #DDD; }
	h3 { padding:15px 0px 15px 0px; }
	h3:after { content:":"; padding-left: 2px; }
	.eventPanel {
		padding:2px;
		img {
			float:left;
			margin-right:15px;
		}
		header{
			padding:10px 0px 5px 0px;
			h4 { display:inline-block; }
			span { float:right; }
		}
		.eventPlace, .eventType { display:inline-block; }
		.eventPlace a, .eventType > span:last-child { display:block; margin-top: 10px; }
		.eventPlace { padding: 5px 10px 5px 0px; border-right: 1px solid #bac3cc; }
		.eventType {
			padding: 5px 0px 5px 10px;
			.bold { display:inline; }
		}
		.glyphicon { margin-right: 5px; }
	} // event panel
	.newSongPanel {
		padding:20px;
		background-color: #f8f9fa;
		img { &:extend(#latestStuff .eventPanel img); }
		h4 { padding:5px 0px; }
		.date {
			&:extend(#latestStuff .eventPanel header span);
			position:relative;
			bottom:7px;
		}
	} // add new song panel
}
/*------------------------------------------------------------------ */
/*------- PRESSRELEASE --------------------------------------------- */
/*------------------------------------------------------------------ */
#pressrelease {
	&:extend(#latestStuff);
	h3 { padding:15px 0px 0px 15px }
	h3:after { &:extend(#latestStuff h3:after); }
	.release {
		border-bottom:1px dashed #d5d9de;
		margin-top:13px;
		&:first-child { margin-top: 0px; }
		div {
			display:inline-block;
			width:70%;
			position:relative;
			bottom:8px;
			padding-left:5px;
			margin-bottom:-5px;
			p { font-size:12px; color: #70757e; line-height:175%; }
			span { font-size: 12px; color: #aeb2ba; font-style:italic; float:right; position:relative; bottom:15px; }
		}
	}
	.btn { width: 100%; margin-top: 13px; }
}
//------
