/*--------------------------------------------------------------------
[Table of contents]

	1. HOMEPAGE
	2. PROFILE PAGE
	3. REGISTRATION FORM
	4. SEARCH PUBS
	5. ADVERTISERS
	6. FOOTER

/*------------------------------------------------------------------ */
/*---- 1. HOMEPAGE ------------------------------------------------- */
/*------------------------------------------------------------------ */
/*---- Included styles for footer sections !! ---------------------- */
/*------------------------------------------------------------------ */
#homepage {
	@media screen and (max-width:1199px) {
		.lookingForBrand form { padding:0px 69px; }
		.lookingForBrand form .btn { margin-top:10px; }
		.mostPopular img { width:225px; }
	}

	@media screen and (max-width:991px) {
		.lookingForBrand h2 { display:inline-block; }
		.lookingForBrand .bandSearch {
			padding:0px 100px;
			top:73px;
			form {
				padding:0px 85px;
				.partyType, .btn { width:340px; }
				.location, .partyDay { width: 165px; margin-bottom:10px; }
				.btn { margin-right: 10px; }
			}
		}
		.mostPopular img { width:100%; }
		.benefits h4 { width: 80%; }
		.benefits .glyphicon { vertical-align:top;}
		.numbersSection .customWidth { width: 33%; }
		.numbersSection .customResponsive {
			padding: 0px 165px;
			.customWidth { width: 40%; margin-top: 70px; }
			.customWidth:last-child { float:right; }

		}
		#links { padding:50px 15px }
		#links .customWidth { width: 26%; }
		#links .pubs { width: 22%; }
		#links .customWidth:last-child {
			width:100%;
			text-align:center;
			margin-top: 50px;
		}
	}
	@media screen and (max-width:767px) {
		.lookingForBrand .bandSearch {
			padding: 0px 30px;
			form {
				display:inline-block;
				padding:0px;
				.location, .partyType, .partyDay { display:inline-block; }
				.location, .partyType { float:none; }
			}
		}
		.benefits {
			padding:40px 0px 10px 0px;
			p { margin-bottom:30px; }
		}
		.numbersSection {
			position:relative;
			padding: 50px 0 160px;
			.number { font-size:48px; }
			.customResponsive { padding: 0px; }
			.customWidth, .customResponsive .customWidth { width:49%; display:inline-block; }
			.customResponsive .customWidth { margin: 20px 0px;  }
			.danceBands { position:absolute; left:25%; bottom:50px; }
		}
		#links .customWidth { width: auto; text-align:center; }
		#links .customWidth, #links .customWidth:last-child { margin-top: 40px; }
		#links .customWidth li { margin-bottom: 10px; }
		#mainFooter {
			.socialIcons {
				width:100%;
				text-align:center;
				padding:20px 0px;
				position:relative;
				z-index:5;
				span:first-child { display:inline-block; width:100%; }
			}
			span:last-child {
				display:block;
				text-align:center;
				padding-bottom:20px;
			}
		}
	}
	@media screen and (max-width:529px) {
		.lookingForBrand { height:450px; }
		.lookingForBrand .bandSearch {
			padding: 50px 10px;
			position: relative;
			top: 0px;
			h2 { font-size:42px; }
			p { display:none; }
			form {
				margin-top: 20px;
			}
		}
	}
	@media screen and (max-width:479px) {
		.lookingForBrand .bandSearch {
			padding: 70px 10px;
			h2 { font-size:38px; }
			form {
				.partyType, .btn { width:295px; }
				.location, .partyDay { width: 140px; }
			}
		}
	}
	@media screen and (max-width:379px) {
		.bandSearchWrapper { padding:0px; }
		.lookingForBrand .bandSearch {
			form {
				h2 { font-size:36px; }
				.partyType, .btn { width:255px; }
				.location, .partyDay { width: 120px; }
			}
		}
		.numbersSection {
			.type { font-size:20px; }
			.number { font-size:44px; }
		}
	}
}
/*------------------------------------------------------------------ */
/*---- 2. PROFILE PAGE --------------------------------------------- */
/*------------------------------------------------------------------ */
// @media screen and (max-width:991px) {
// 	#profileDescription .customWidth { width: 40%;}
// 	#pressrelease .customWidth { width:60% }
// 	#latestStuff .customWidth { width: 60%;}
// }

@media screen and (max-width:1199px) {
	#pressrelease .release { display:inline-block; width: 49.5%; border:none; }
	#pressrelease .release img { float:left; }
	#pressrelease .release div { bottom:0px; width:64% }
	#pressrelease .btn-action {
		position:relative;
		bottom:17px;
		padding:5px 22px;
		height:47px;
		margin:0px;
		width:auto;
	}
	#latestStuff .eventPanel h4 { width:48%; }
	#latestStuff .eventPanel header { padding: 0px 5px; }
	#latestStuff .eventPanel .eventPlace { padding: 10px 10px 5px 0; }
	#latestStuff .panel:last-child { margin-bottom: 40px; }
}

@media screen and (max-width:991px) {
	#pressrelease > div, #latestStuff > div { padding-left:0px; width:62% }
	#profileDescription .leftSide { width:38% }
	#latestStuff span, #latestStuff a { font-size:@baseFontSize - 1px; }
}
@media screen and (max-width:767px) {
	// #pressrelease > div, #latestStuff > div { padding-left:15px; width:100% }
	// #pressrelease > .pull-right { float:none!important; }
	// #pressrelease .panel { margin-bottom: 0px; }
	// #pressrelease .release { width: 100%; }
	// #pressrelease .btn-action { margin-top: 30px; }
	// #profileDescription { margin-bottom: -215px; }
	// #profileDescription .leftSide { width:100%; float:none; }
	// #latestStuff { margin-top: 0px; }
	// #latestStuff span, #latestStuff a { font-size:@baseFontSize; }
	// #latestStuff .eventPanel img { width: 80px; }

	// #pressrelease .release { width: 100%; }
	// 09.20

	// #profileDescription .leftSide { width:50%; float:left; margin-bottom: -220px; }
	// #profileDescription .panelSummary { display:none; }
	// #pressrelease > div { width: 50%; }
	// #pressrelease .release { width: 100%; }
	// #pressrelease .btn-action { margin-top: 30px; }
	// #pressrelease .panel-body { padding-bottom: 0px; }
	// #pressrelease .panel { margin-bottom: 0px; }
	// #latestStuff > div { width:100%; float:right; padding-left: 15px; }
}

@media screen and (max-width:767px) {
	#profileDescription .leftSide, #pressrelease > div, #latestStuff > div { width: 100%; }
	#profileDescription .leftSide { margin-bottom: -215px; }
	#latestStuff .eventPanel img { width: 80px; }
	#latestStuff { float:left; width: 100%; }
	#pressrelease>div, #latestStuff>div { padding-left: 15px; }
	#pressrelease .release div span, #pressrelease .btn-action { bottom: 0px; }
	#latestStuff .newSongPanel { padding: 10px 0px 10px 0px; }
	#latestStuff .eventPanel img { width: auto; }
}


@media screen and (max-width:767px) {
	#latestStuff span, #latestStuff a { font-size:@baseFontSize - 1px; }
	
	#latestStuff .eventPanel img { margin-right:10px; }
	#latestStuff .eventPanel .eventPlace { padding: 10px 5px 5px 0; }
	#latestStuff .eventPanel .eventType { padding: 5px 0 5px 0px; }
	#latestStuff .eventPanel h4 { margin-bottom: 5px; width:62%; }
	#latestStuff .eventPanel h4, #latestStuff .newSongPanel h4 { font-size:@baseFontSize + 1px; }
	#latestStuff header span { margin-bottom: 8px; }

	
	#profilePage .panel-body { padding:10px; }
}
@media screen and (max-width:579px) {
	#latestStuff span, #latestStuff a { font-size:@baseFontSize - 1px; }
	
	#latestStuff .eventPanel img { margin-right:10px; }
	#latestStuff .eventPanel .eventPlace { padding: 10px 5px 5px 0; }
	#latestStuff .eventPanel .eventType { padding: 5px 0 5px 0px; }
	#latestStuff .eventPanel h4 { margin-bottom: 5px; width:62%; }
	#latestStuff .eventPanel h4, #latestStuff .newSongPanel h4 { font-size:@baseFontSize + 1px; }
	#latestStuff header span { margin-bottom: 8px; }

	
	#profilePage .panel-body { padding:10px; }
}
@media screen and (max-width:359px) {
	#latestStuff .eventPanel { position:relative; }
	#latestStuff .eventPanel .eventType { position:absolute; bottom:10%; left:160px; }
	#latestStuff .newSongPanel .date { bottom:32px; }
}
/*------------------------------------------------------------------ */
/*---- 3. REGISTRATION FORM ---------------------------------------- */
/*------------------------------------------------------------------ */
#registrationPage {
	@media screen and (max-width:767px) {
		.submitRow .btn { position: relative; bottom:20px; }
	}
	@media screen and (max-width:409px) {
		.submitRow .btn { width:100%; top:15px; height:50px; }
		h2 { margin-top: 20px; }
		.submitRow>div:first-child { top:0px }
		.registeredUsers { padding:50px 0px; }
	}
}
/*------------------------------------------------------------------ */
/*---- 4. SEARCH PUBS ---------------------------------------------- */
/*------------------------------------------------------------------ */
#searchPubsPage {
	@media screen and (max-width:1199px) {
		.title { width: 100%; }
		.searchBox { width:60%; margin-top: 15px; }
		.resultList img { width: 220px; }
	}
	@media screen and (max-width:991px) {
		.searchBox { width: 100%; }
		.searchBox input { padding-left: 35px; }
		.searchFilters .advertisement { display:none; }
		.searchResults { padding:35px 0px; }
		.resultList img { width: 340px; }
		.resultList .title { margin-top: 20px; display:inline-block; }
		.resultList .line { margin-bottom:20px; }
	}
	@media screen and (max-width:767px) {
		.nightclubsSearch { padding: 30px 0px; }
		.nightclubsSearch .number { margin-bottom: 15px; }
		.nightclubsSearch .searchBox { width: 100%; }
		.nightclubsSearch .searchBox input { margin-bottom: 15px; padding-left:45px; }
		.nightclubsSearch .searchBox input, .nightclubsSearch .searchBox button { width: 100%; }
		.resultList img { width: 100%; }
	}
	@media screen and (max-width:625px) {
		.nightclubsSearch .title>div span { display:none; }
	}
	@media screen and (max-width:479px) {
		.searchBox input { padding-left: 25px; }
	}
}
/*------------------------------------------------------------------ */
/*---- 5. ADVERTISERS ---------------------------------------------- */
/*------------------------------------------------------------------ */
#advertisersPage {
	@media screen and (max-width:1199px) {
		.upcomingEvents .selectBox p { position: relative; bottom:10px; }
		.eventList {
			h4 { margin-top: 0px; margin-bottom: 5px; }
			// width declaration
			.eventPlace { width: 20%; }
			.eventType { width: 25%; }
			.eventStuff { width: 13%; }
			.viewMore { width:20%; }
			// footer
			.eventDate { width: 60%; border-right:none; float:right }
		}
		.tags {
			display:inline-block;
			width: 20%;
			border-right: 1px solid #bac3cc;
			height:40px;
			float:left;
			position:relative;
			> div { position:absolute; bottom:3px; }
		}
		.eventPanel footer .eventDate {
			display:inline-block !important;
			padding: 5px 0 5px 0px;
		}
		.eventPanel header { padding:0px; }
		.eventPanel .subPanel { padding: 0px 10px 5px 10px; }
		.eventPanel .subPanel:last-child { padding: 0px 0 5px 10px; }
		.eventPanel .eventPlace { padding: 0px 10px 5px 0px }
		.eventPanel footer { margin-top: 0px; }
	}
	@media screen and (max-width:991px) {
		.upcomingEvents .title { height: 65px; }
		.upcomingEvents .selectBoxSecond .selectpicker { width: 160px; }
		.upcomingEvents .title>div, .upcomingEvents .title .number { max-width:275px; }
		.upcomingEvents .title { padding-right: 0px; }
		.eventPanel .subPanel:last-child { padding: 3px 0 5px 10px; }
		.eventList {
			// width declaration
			.eventPlace { width: 23%; }
			.eventType { width: 19%; }
			.eventStuff { width: 16%; }
			.viewMore { width:14%; }
			// footer
			.eventDate { width: 51%; }
			.tags {
				width: 23%; height:45px;
				> div { bottom: 7px; }
			}
		}
		.eventList .eventStuff { border-right:none; }
		.eventPanel .subPanel { padding: 0 7px 5px; }
		.eventList .eventPlace { padding: 5px 0px; }
		.eventPanel .subPanel .viewMore a { position:relative; top:8px; }
	}
	@media screen and (max-width:767px) {
		.upcomingEvents .title>div span { display:none; }
		.selectBox { margin-top: 15px; }
		.bootstrap-select.btn-group:not(.input-group-btn) {
			display: block;
			.selectpicker { width: 100%; }
		}
		.upcomingEvents .selectBoxSecond {
			p { position:static; margin:15px 0px 10px 0px; }
			.selectpicker { width: 100%; }
		}
		.eventPanel img { width: 80px; }
		.eventList h4 { width: 55%; }
		.responsivePadding0 { padding:0px; }
		.eventList .eventPanel:first-child, .eventList .eventPanel:last-child { border-radius:0px; }
		.eventPanel .subPanel { padding: 5px 0px 5px 5px; }
		.eventList header { height:56px; }
		.eventList .eventPlace { float:left; padding: 5px 0px; width: 55%; }
		.eventPanel .subPanel a { top:0px; margin-top: 0px; }
		.eventList .eventType { border-right:none; width: 45%; }
		.eventList .tags { float:left; border:none; width:50%; }
		.eventList .eventDate { width: 100%; padding:0px; margin-top: 15px; }
		.eventList .eventPanel footer .viewMore { display: inline-block !important; padding: 35px 10px 0px 10px; width: 40%; }


		.eventList h4 { font-size:20px; }
	}
	@media screen and (max-width:480px) {
		.eventPanel .subPanel span, .eventPanel .subPanel a { font-size:@baseFontSize - 1px; }
	}
	@media screen and (max-width:394px) {
		.upcomingEvents .title>div:last-child {
			width: 75%;
			position: relative;
			bottom: 10px;
			line-height: 285%;
		}
	}
}
/*------------------------------------------------------------------ */
/*---- 6. FOOTER --------------------------------------------------- */
/*------------------------------------------------------------------ */
@media screen and (max-width:991px) {
	#links { padding:50px 15px }
	#links .customWidth { width: 26%; }
	#links .pubs { width: 22%; }
	#links .customWidth:last-child {
		width:100%;
		text-align:center;
		margin-top: 50px;
	}
}
@media screen and (max-width:767px) {
		#links .customWidth { width: auto; text-align:center; }
		#links .customWidth, #links .customWidth:last-child { margin-top: 40px; }
		#links .customWidth li { margin-bottom: 10px; }
		#mainFooter {
			.socialIcons {
				width:100%;
				text-align:center;
				padding:20px 0px;
				position:relative;
				z-index:5;
				span:first-child { display:inline-block; width:100%; }
			}
			span:last-child {
				display:block;
				text-align:center;
				padding-bottom:20px;
			}
		}
	}